# dependencies
node_modules/

# playwright
playwright-report/
test-results/
blob-report/

# auth
playwright/.auth/

# logs
*.log
npm-debug.log*

# env
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db